<!-- file_list.html -->
{% extends "base.html" %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>File List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
	<h2 class="title">Uploaded Files</h2>
	<table>
	    <thead>
		<tr>
		    <th>Name</th>
		    <th>Type</th>
		    <th>Location</th>
		    <th>Size</th>
		    <th>Header</th>
		    <th>Created Date</th>
		    <th>Start Time</th>
		    <th>Elapsed Time</th>
		    <th>Memory Consumed (MB)</th>
		    <th>Object Type</th>
		</tr>
	    </thead>
	    <tbody>
		{% for file in files %}
		    <tr>
			<td>{{ file.file_name }}</td>
			<td>{{ file.file_type }}</td>
			<td>{{ file.load_type }}</td>
			<td>{{ file.file_size }}</td>
			<td>{{ file.header }}</td>
			<td>{{ file.create_date }}</td>
			<td>{{ file.start_time }}</td>
			<td>{{ file.elapsed_time }}</td>
			<td>{{ file.memory_consumed }}</td>
			<td>{{ file.file_obj_type }}</td>
		    </tr>
		{% endfor %}
	    </tbody>
	</table>
</body>
</html>
{% endblock %}